# Temporarily ignore unfinished contests
/2021-2022/2022-US_OPEN

# Visual Studio Code
.vscode

# macOS File System
.DS_Store

# Input and Output Files
*.in
*.out

# C++ Binaries
Main

# Java Binaries
*.class
